@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
background-color: #41454f !important;
font-family: 'Josefin Sans', cursive !important;
color: white !important;
}
.logo-ring {
  width: 100px;
}
.App {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.time {
  font-size: 20px;
}



